.editor {
  position: relative;
  padding: 10px;
}

.svgCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.topic {
  cursor: default;
  user-select: none;
}

.textEditor {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  outline: none;
}