.container {
  width: 100%;
  height: 100%;
}
.scrollContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10000px;
  height: 10000px;
}
.editor {
  position: relative;
}

.svgCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.topic {
  cursor: default;
  user-select: none;
}

.textEditor {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  outline: none;
}