name: Build packages
on:
  push:
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # Lock node version to prevent test fail on node 15
        node-version: [14.18.3]
    steps:
    - uses: actions/checkout@v2
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.20.3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    
    - name: Build
      run: pnpm run lint:fix && pnpm run build:all
    - name: Test
      run: pnpm run test:run --dir packages/core
